/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    text-decoration: none;
    color: #FFFFFF;
}


header {
    padding-top: 40px;
    height: 100px;
    width: 100%;
    display: block;
    background-color: #FF7052;
    /*background-color: #FF851B;*/
}

#h1Nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float: left;
}

#circle {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 10px solid #FFFFFF;
    background-color: #333;
    width: 180px;
    height: 180px;
    margin-left: 0px;
}

#nameText {padding-top: 20px;font-size: 30px;text-align: center;color: #FFFFFF;line-height: 30px;font-family: 'Open Sans Condensed', sans-serif;
}

#line {padding-top: 10px;width: 80%; margin-left: auto;margin-right: auto;border-bottom: #FF7052 solid 1px;
}

#webText {font-size: 16px;text-align: center;color: #FFFFFF;margin-top: 4px;font-family: 'Open Sans Condensed', sans-serif;
}

a#logo {
    cursor: pointer;
}


/*======================NAV=====================*/



#headerNav {
    float: right;
    background-color: none;
}

#headerNav ul {
    padding: 0;
    margin: 0 auto;
    margin-top: 40px;
}

#headerNav li {
    float: right;
    display: inline;
}

#headerNav li a {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 180px;
    font-size: 2.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}

#headerNav li:first-child a {
    border-right: 0;
}

#headerNav a:hover, nav a:active {
    color: #191919;
}

#headerNav a#pull {
    display: none;
}

/* ========================taglineServices========================================== */

#tagline {
    font-size: 30px;
    clear: both;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* ========================taglineServices========================================== */

#workContainer {
    width: 80%;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

#workContainer h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
}

#workContainer ol {
    list-style: none;
    margin-left: -40px;
}

.figure {
    margin-top: 0;
    margin-bottom: 4em;
    margin-right: 3.317535545023696682%;
    margin-left: 0;            
    width: 31.121642969984202211%;              
    float: left;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-style: bold;
}

.figure a {
    color: #191919;
}

.figure img {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.caption {
    display: none;
    position: absolute;
    /*background: url(images/trans-black-50.png);*/
    background: rgba(0, 0, 0, 0.70);
}
.caption h3, .caption p {
    color: #FFFFFF;
    margin: 20px;
}
.caption h3 {
    margin: 60px 20px 10px;
}
.caption p {
    font-size: .75em;
    line-height: 1.5em;
    margin: 0 20px 15px;
}
.caption a.learn-more {
    padding: 5px 10px;
    background: #FF7052;
    color: #FFFFFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
}
.caption a.learn-more:hover {
    background: #FFFFFF;
    color: #FF7052;
}

li#project3, li#project6 {
    margin-right: 0;
}

/*=========footer===========*/
#footer {
    width: 100%;
    clear: both;
    background-color: #FFFFFF;
    color: #2D2D2D;
    font-size: .8em; 
}

#footer a:link {
    color: #2D2D2D; 
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}

#footer a:visited {
    color: #2D2D2D;
}




#footerContainer {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    border-top: 1px solid #D7DBDF;

}

.footerDivider {
    width: 30%;
    float: left;
    padding-left: 1.6%;
    padding-right: 1.6%; 
}

#footerNav ul {
    margin-left: -40px; 
}

#footer a:hover, nav a:active {
    color: #FF7052;
}

#footerSocialMedia ul {
    margin-left: -40px; 
}

#footerContact {
    padding-right: 0;
}

.verticleLine {
    border-right: 1px solid #D7DBDF;
    height: 160px; 
}

#copywrite {
    clear: both;
    border-top: 1px solid #D7DBDF;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}


/*==================ABOUT.HTML===================*/
/*==================ABOUT.HTML===================*/
/*==================ABOUT.HTML===================*/

#about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    clear: both;
}

.about__skill_frontend {
    float: left;
    width: 50%;
}

.about__skill_software {
    float: right;
    width: 50%;
}


.about__skill_frontend ul, .about__skill_software ul {
    margin-left: -20px;
}

@media(max-width: 420px) {
    #about {
        width: 90%;
    }
}

/*==================WORK.HTML===================*/
/*==================WORK.HTML===================*/
/*==================WORK.HTML===================*/

#work {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    padding-top: 20px;
}

#work a {
    color: #000000;
}

.project {
    display: inline-block;
    padding-bottom: 40px;
}

.work__desc {
    width: 40%;
    float: left;
}

#work h2 {
    margin: 0;
    padding: 0;
}

.work__img {
    width: 50%;
    float: right;
    margin-top: 20px;
}

.work__img img {
    width: 100%;
}

/*==================CONTACT.HTML===================*/
/*==================CONTACT.HTML===================*/
/*==================CONTACT.HTML===================*/

form {
    clear: both;
    width:459px;
    margin:0 auto;
    margin-bottom: 40px;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

    input:focus, textarea:focus {
        border:1px solid #97d6eb;
    }

textarea {
    height:213px;
    font-family:Arial, Helvetica, sans-serif;
    background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

button[type=submit] {
    background-color: #FF7052;
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    color: #FFFFFF;
}

    button[type=submit]:hover {
        opacity:0.9;
    }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media (max-width: 1220px) {
    #headerNav li a {
        width: 160px;
        font-size: 2.3em;
    }
}

@media (max-width: 1120px) {
    #headerNav li a {
        width: 140px;
        font-size: 1.9em;
    }
}


@media (max-width: 1020px) {
    #headerNav li a {
        width: 120px;
        font-size: 1.7em;
    }
}

@media (min-width: 1001px) {
    .caption h3 {
        font-size: 1.2em;
    }    

    .caption p {
        font-size: 1em;
    }    
}

@media (max-width: 1000px) {

    #headerNav li a {
        width: 100px;
        font-size: 1.5em;
    }

    .figure {       
        width: 48.34%;
    }

    .caption h3 {
        font-size: 2em;
    }    

    .caption p {
        font-size: 1.5em;
    }    

    li#project3, li#project6 {
    margin-right: 3.317535545023696682%;
    }

    li#project2, li#project4, li#project6 {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .caption h3 {
        font-size: 1.2em;
    }    

    .caption p {
        font-size: 1.2em;
    } 
}

@media (max-width: 820px) {
    #headerNav li a {
        width: 80px;
        font-size: 1.3em;
    }
}

@media (max-width: 700px) {
    .caption h3 {
        font-size: .9em;
    }    

    .caption p {
        font-size: .9em;
    } 

    .work__desc {
        width: 100%;
        float: left;
    }

    .work__img {
        width: 100%;
        float: right;
    }
}

@media (max-width: 680px) {
    header {
        /*height: auto;*/
        width: 100%;
        /*display: inline-block;*/
    }

    #h1Nav {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerNav li a {
        width: 70px;
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    .figure {
        width: 100%;
    }

    .caption h3 {
        font-size: 2em;
    }    

    .caption p {
        font-size: 1.5em;
    }    

}

@media screen and (max-width: 560px) {
    #headerNav ul {
        width: 80px;
        margin-top: -16px;
    }

    #headerNav li a {
        width: 60px;
        font-size: 1em;
        margin-top: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-right: none;
        border-bottom: 1px solid #FFFFFF;
    }

    #headerNav li:last-child a {
        border-bottom: 0;
    }

    #tagline {
        display: block;
        margin-top: 40px;
        width: 90%;
        font-size: 20px;
    }

    #workContainer {
        width: 90%;
    }

    #footerContainer {
      width: 90%;
      height: 360px;
      text-align: center;
    }    

    .footerDivider {
      width: 100%;
      float: none !important;
      padding-left: 0;
      padding-right: 0; 
    }    

    .verticleLine {
      border-right: none;
      height: 120px; 
    }   

    #footerContact {
      margin-top: -10px; 
    }    

    #copywrite {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: .9em;
    }

}


@media (max-width: 360px) {
    .caption h3 {
        font-size: 1.5em;
    }    

    .caption p {
        font-size: 1.2em;
    }    
}

@media (max-width: 340px) {

    header {
        height: auto;
        width: 100%;
        display: inline-block;
    }

    #h1Nav {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #logo {
        width: 100%;
        float: none !important;
        margin-left: auto;
        margin-right: auto;     
    }

    #circle {
        margin-left: auto;
        margin-right: auto;
    }

    #headerNav  {
        float: none !important;
        border-bottom: 0;
    }
    #headerNav ul {
        width: 100%;
        margin-top: 10px;
        display: none;
        height: auto;
    }

    #headerNav li {
        display: block;
        float: none;
        width: 100%;
        font-size: 1.2em;
    }    

    #headerNav a {
        line-height: 40px;
        text-align: left;
        width: 100%;
    }

    #headerNav li a {
        width: 100%;
    }

    #headerNav a#pull {
        display: block;
        background-color: #FF7052;
        width: 100%;
        position: relative;
    }

    #headerNav a#pull:after {
        content:"";
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
    }

    #navicon {
        float: right;   
    }


    a#pull:active, a#pull:focus {
        outline: none;
    }

}

@media (max-width: 302px) {
    .caption h3 {
        font-size: .8em;
    }    

    .caption p {
        font-size: .8em;
    }    
}      













@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
