/*==================HEADER.PHP===================*/
/*==================HEADER.PHP===================*/
/*==================HEADER.PHP===================*/

#h1Nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float: left;
}

#circle {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 10px solid #FFFFFF;
    background-color: #333;
    width: 180px;
    height: 180px;
    margin-left: 0px;
}

#nameText {padding-top: 20px;font-size: 30px;text-align: center;color: #FFFFFF;line-height: 30px;font-family: 'Open Sans Condensed', sans-serif;
}

#line {padding-top: 10px;width: 80%; margin-left: auto;margin-right: auto;border-bottom: #FF7052 solid 1px;
}

#webText {font-size: 16px;text-align: center;color: #FFFFFF;margin-top: 4px;font-family: 'Open Sans Condensed', sans-serif;
}

a#logo {
    cursor: pointer;
}

#headerNav {
    float: right;
    background-color: none;
}

#headerNav ul {
    padding: 0;
    margin: 0 auto;
    margin-top: 40px;
}

#headerNav li {
    float: right;
    display: inline;
}

#headerNav li a {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 180px;
    font-size: 2.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}

#headerNav li:first-child a {
    border-right: 0;
}

#headerNav a:hover, nav a:active {
    color: #191919;
}

#headerNav a#pull {
    display: none;
}

/*==================HEADER.PHP===================*/
/*==================HEADER.PHP===================*/
/*==================HEADER.PHP===================*/

#tagline {
    font-size: 30px;
    clear: both;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 4px;
    padding-bottom: 4px;
}

#workContainer {
    width: 80%;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

#workContainer h2 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
}

#workContainer ol {
    list-style: none;
    margin-left: -40px;
}

.figure {
    margin-top: 0;
    margin-bottom: 4em;
    margin-right: 3.317535545023696682%;
    margin-left: 0;            
    width: 31.121642969984202211%;              
    float: left;
    font-size: 14px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-style: bold;
}

.figure a {
    color: #191919;
}

.figure img {
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.caption {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.70);
}
.caption h3, .caption p {
    color: #FFFFFF;
    margin: 20px;
}
.caption h3 {
    margin: 24px 20px 10px;
}
.caption p {
    font-size: .75em;
    line-height: 1.5em;
    margin: 0 20px 15px;
}
.caption a.learn-more {
    padding: 5px 10px;
    background: #FF7052;
    color: #FFFFFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}
.caption a.learn-more:hover {
    background: #FFFFFF;
    color: #FF7052;
}

li#project3, li#project6 {
    margin-right: 0;
}


/*==================FOOTER.PHP===================*/
/*==================FOOTER.PHP===================*/
/*==================FOOTER.PHP===================*/

#footer {
    width: 100%;
    clear: both;
    background-color: #FFFFFF;
    color: #2D2D2D;
    font-size: .8em; 
}

#footer a:link {
    color: #2D2D2D; 
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
}

#footer a:visited {
    color: #2D2D2D;
}

#footerContainer {
    width: 80%;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    border-top: 1px solid #D7DBDF;
}

.footerDivider {
    width: 30%;
    float: left;
    padding-left: 1.6%;
    padding-right: 1.6%; 
}

#footerNav ul {
    margin-left: -40px; 
}

#footer a:hover, nav a:active {
    color: #FF7052;
}

#footerSocialMedia ul {
    margin-left: -40px; 
}

#footerContact {
    padding-right: 0;
}

.verticleLine {
    border-right: 1px solid #D7DBDF;
    height: 160px; 
}

#copywrite {
    clear: both;
    border-top: 1px solid #D7DBDF;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

/*==================ABOUT.PHP===================*/
/*==================ABOUT.PHP===================*/
/*==================ABOUT.PHP===================*/

#about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    clear: both;
}

.about__skill_frontend {
    float: left;
    width: 50%;
}

.about__skill_software {
    float: right;
    width: 50%;
}


.about__skill_frontend ul, .about__skill_software ul {
    margin-left: -20px;
}

@media(max-width: 420px) {
    #about {
        width: 90%;
    }
}

/*==================WORK.PHP===================*/
/*==================WORK.PHP===================*/
/*==================WORK.PHP===================*/

#work {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    padding-top: 20px;
}

#work a {
    color: #000000;
}

.project {
    display: inline-block;
    padding-bottom: 40px;
}

.work__desc {
    width: 40%;
    float: left;
}

#work h2 {
    margin: 0;
    padding: 0;
}

.work__img {
    width: 50%;
    float: right;
    margin-top: 20px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.work__img img {
    width: 100%;
}

/*==================CONTACT.PHP===================*/
/*==================CONTACT.PHP===================*/
/*==================CONTACT.PHP===================*/

#contact {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    padding-top: 20px;
}
