// _variables.scss
// =================

@import "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

$white: #FFFFFF;
$darkGray: #333333;
$mainColor: #FF7052;
$formBackground: #EFEFEF;
$lightGray: #DEDEDE;

$openSansCondensed : 'Open Sans Condensed', sans-serif;